<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
 
{{#each movies as |movie|}}
  <div class="row align-items-center">
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{movie.image}}"  class="card-img-top" alt="{{movie.title}}">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <h4>{{movie.director}}</h4>
            <p class="card-text">{{movie.stars}}</p>
            <a href="#" class="btn btn-primary">Go details</a>
          </div>
        </div>    
    </div>
  </div>
 {{/each}} 
  